%h1= t('listing_genres') 

%table
  %thead
    %tr
      %th= t('genre')
      %th
      %th
      %th

  %tbody
    - @genres.each do |genre|
      %tr
        %td= genre.genre
        %td= link_to t('show'), genre
        %td= link_to t('edit'), edit_genre_path(genre)
        %td= link_to t('destroy'), genre, :method => :delete, :data => { :confirm => t('confirm_message') }

%br

= link_to t('new_genre'), new_genre_path
