%p#notice= notice

%p
  %b= t('name') + ":"
  = @artist.name
%p
  %b= t('year') + ":"
  = @artist.year
%p
  %b= t('artists.label')
  = @artist.label

= link_to t('edit'), edit_artist_path(@artist)
\|
= link_to t('back'), artists_path
