%p#notice= notice

%p
  %b= t('home.contact.name')
  = @artist.name
%p
  %b= t('albums.year_form')
  = @artist.year
%p
  %b= t('artists.label_form')
  = @artist.label

= link_to t('edit'), edit_artist_path(@artist)
\|
= link_to t('back'), artists_path
