= form_for @song do |f|
  - if @song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @song.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t('songs.album_form')
    = f.collection_select :album_id, Album.all, :id, :name
  .field
    = f.label t('home.contact.name')
    = f.text_field :name
  .field
    = f.label t('songs.duration_form')
    = f.text_field :duration
  .actions
    = f.submit 'Save'
