%h1= t('listing') + " " + t('shared.songs')

%table
  %thead
    %tr
      %th= t('album')
      %th= t('name')
      %th= t('songs.duration')
      %th
      %th
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= song.album.name
        %td= song.name
        %td= song.duration
        %td= link_to t('show'), song
        %td= link_to t('edit'), edit_song_path(song)
        %td= link_to t('destroy'), song, :method => :delete, :data => { :confirm => t('confirm_message') }

%br

= link_to t('new') + " " + t('song'), new_song_path
