%p#notice= notice

%p
  %b= t('album') + ":"
  = @song.album.name
%p
  %b= t('name') + ":"
  = @song.name
%p
  %b= t('songs.duration') + ":"
  = @song.duration

= link_to t('edit'), edit_song_path(@song)
\|
= link_to t('back'), songs_path
