%p#notice= notice

%p
  %b= t('songs.album_form')
  = @song.album.name
%p
  %b= t('home.contact.name')
  = @song.name
%p
  %b= t('songs.duration_form')
  = @song.duration

= link_to t('edit'), edit_song_path(@song)
\|
= link_to t('back'), songs_path
