= form_for @album, html: {multipart: true} do |f|
  - if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t('albums.artist_form')
    = f.collection_select :artist_id, Artist.all, :id, :name
  .field
    = f.label t('albums.genre_form')
    = f.collection_select :genre_id, Genre.all, :id, :genre
  .field
    = f.label t('home.contact.name')
    = f.text_field :name
  .field
    = f.label t('albums.year_form')
    = f.number_field :year
  .field
    = f.label t('albums.artwork_form')
    = f.file_field :image
  .actions
    = f.submit t('save')