%h1= t('listing') + " " + t('shared.albums')

%table
  %thead
    %tr
      %th= t('artist')
      %th= t('genre')
      %th= t('name')
      %th= t('year')
      %th= t('albums.tracks')
      %th= t('albums.artwork')
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.artist.name
        %td= album.genre.genre
        %td= album.name
        %td= album.year
        %td= album.total_songs
        %td= image_tag album.image.url(:thumb)
        %td= link_to t('show'), album
        %td= link_to t('edit'), edit_album_path(album)
        %td= link_to t('destroy'), album, :method => :delete, :data => { :confirm => t('confirm_message') }

%br

= link_to t('new') + " " + t('album'), new_album_path
